        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Laboratorio 12</strong> por Daniel Contreras Chávez.
                </p>
            </div>
            <div class="content has-text-centered">
                <p>
                    <strong>¿Qué otros templating engines existen para node?</strong>
                </p>
                <p>
                    Pug
                </p>

                <p>
                    Handlebars
                </p>

                <p>
                    Swig
                </p>

                <p>
                    Mustache
                </p>

                <p>
                    React
                </p>

                <p>
                    Vue
                </p>
            </div>
        </footer>
    </body>
</html>