img{
    width: 20%;
}

footer{
    text-align: center;
}

body{
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}

h1{
    display: inline block;
    color: white;
    background: #272343; 
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-txt{
    text-align: center;
}

#content{
    background-color: #e3f6f5;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.preguntas{
    background-color: #bde0fe;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.referencias{
    background-color: #a2d2ff;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

#git{
    display: inline-block;
}

#redes{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#github{
    width: 300px;
    float:left; 
}

#linkedin{
    overflow: hidden
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .buttonContainer{
    position: relative;
    margin: 0 auto ;
    padding: 0 0 50px 0; 
    border-radius:8px;
    text-align: center;
    width: 50%;
}

.buttonContainer button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    width: 50%;
    background-color: #bfd9ec;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    display: block;
}