<%- include('includes/head.ejs', {username: username, permisos: permisos}) %>
<div class="container">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://www.macmillerswebsite.com/sites/g/files/g2000016711/files/2023-07/mac-swimming-cover-cutout_03.jpg" 
                    alt="Placeholder image">
                </figure>
            </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">Mac Miller</p>
                </div>
            </div>

            <div class="content">
                Malcolm James McCormick (Pittsburgh, Pensilvania, 19 de enero de 1992-Studio City, California, 
                7 de septiembre de 2018), conocido como Mac Miller, fue un rapero, 
                cantante y productor discográfico estadounidense.
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>