        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Laboratorio 22</strong> por Daniel Contreras Chávez.
                </p>
            </div>
            <div class="content has-text-centered">
                <!-- Aquí van las preguntas del lab -->
            </div>
        </footer>
    </body>
</html>