        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Laboratorio 17 y 18</strong> por Daniel Contreras Chávez.
                </p>
            </div>
            <div class="content has-text-centered">
                <p>
                    <strong>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</strong>
                </p>
                <p class="mr-6 ml-6">
                    <ul>
                        <li>
                            Separación de preocupaciones
                        </li>
                        <li>
                            Seguridad
                        </li>
                        <li>
                            Abstracción de la base de datos
                        </li>
                    </ul>
                </p>
                <p>
                    <strong>¿Qué es SQL injection y cómo se puede prevenir?</strong>
                </p>
                <p class="mr-6 ml-6">
                    <ul>
                        <li>
                            Utilizar consultas parametrizadas o prepared statements                        
                        </li>
                        <li>
                            Validar y sanitizar las entradas de datos
                        </li>
                        <li>
                            Limitar los privilegios de la cuenta de base de datos
                        </li>
                    </ul>
                </p>
                <p>
                    <strong>¿Qué otras formas de autentificación existen?</strong>
                </p>
                <p class="mr-6 ml-6">
                    <ul>
                        <li>
                            Autenticación de dos factores (2FA)
                        </li>
                        <li>
                            Autenticación biométrica
                        </li>
                        <li>
                            Autenticación basada en certificados
                        </li>
                    </ul>
                </p>
            </div>
        </footer>
    </body>
</html>