        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Laboratorio 22</strong> por Daniel Contreras Chávez.
                </p>
            </div>
            <div class="content has-text-centered">
                <ul>
                    <li>
                        <strong>
                        ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
                        </strong>
                        permite crear aplicaciones web más interactivas y dinámicas,
                        mejorando la experiencia del usuario al ofrecer una respuesta más rápida y fluida. 
                        En el contexto de las RIA's, AJAX es fundamental ya que permite cargar y actualizar 
                        contenido de manera dinámica sin interrumpir la experiencia del usuario.
                    </li>
                    <li>
                        <strong>
                        ¿Qué implicaciones de seguridad tiene AJAX? 
                        ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
                        </strong>
                        Posibilidad de ataques de tipo Cross-Site Scripting (XSS) si no se 
                        filtran ni escapan correctamente los datos enviados por el usuario, riesgo de ataques de tipo 
                        Cross-Site Request Forgery (CSRF) si no se implementan medidas de protección adecuadas, 
                        como tokens CSRF, posibilidad de revelación de información a través de técnicas de inspección 
                        de red si los datos transmitidos no están encriptados.
                        Las validaciones de seguridad deben realizarse principalmente en el lado del servidor.
                    </li>
                    <li>
                        <strong>
                        ¿Qué es JSON?
                        </strong>
                        Es un formato de intercambio de datos ligero y de fácil lectura que se utiliza 
                        comúnmente en el desarrollo web. Está basado en JavaScript, 
                        pero es independiente del lenguaje, lo que lo hace ampliamente compatible con diferentes tecnologías. 
                        JSON se utiliza para representar datos estructurados, como objetos y arrays, y es muy utilizado en el 
                        intercambio de datos entre el cliente y el servidor en aplicaciones web.
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>