<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://www.unhcr.org/spotlight/wp-content/uploads/sites/55/2021/05/Icon-test-House-white.png" width="30" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <% for(let funcion of permisos) { %>
                    <% if(funcion.funcion == 'construir') { %>
                    <a class="navbar-item" href="/armar">
                        Arma tu propio top
                    </a>
                    <% } %>

                    <% if(funcion.funcion == 'ver') { %>
                    <a class="navbar-item" href="/armar/vis">
                        Visualiza tu top
                    </a>
                    <% } %>
                <% } %>

                <a class="navbar-item" href="/error">
                    Error 404
                </a>
            </div>
            <div class="navbar-end">
                
                <% if (username == '') { %>

                    <a class="navbar-item" href="/users/signUp">
                        Registrarse
                    </a>

                    <a class="navbar-item" href="/users/login">
                        Entrar
                    </a>

                <% } else { %>

                    <span>
                    Hola <%= username %> 
                    </span>
                    <a class="navbar-item button-is-danger" href="/users/logout">
                        Log Out
                    </a>

                <% } %>
            </div>
        </div>
    </nav>