<%- include('includes/head.ejs') %>
<div class="container">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://enfoquenoticias.com.mx/wp-content/uploads/2023/04/artic.jpeg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Arctic Monkeys</p>
                        </div>
                    </div>

                    <div class="content">
                        Arctic Monkeys (Español: Los Monos Árticos) es una banda británica de rock alternativo, 
                        formada en Sheffield, Reino Unido. El grupo está compuesto por el guitarrista principal y vocalista Alex Turner, 
                        el guitarrista Jamie Cook, el baterista Matt Helders y el bajista Nick O'Malley. 
                        El bajista original de la banda, Andy Nicholson, dejó el proyecto en 2006 poco después del 
                        lanzamiento del álbum debut de la banda.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/foot.ejs') %>
</body>
</html>
