    <%- include('includes/head.ejs') %>

    <section class="section">
        <div class="container">
            <h1 class="subtitle">Mi sitio web sobre mis artistas y bandas favoritos</h1>
        </div>  
        <div class="container">
            <p>Aquí puedes encontrar información sobre ellos.</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title">Mi top 3</h2>
            <ul>
                <li><a href="/artistas/1">Mac Miller</a></li>
                <li><a href="/artistas/2">Joji</a></li>
                <li><a href="/artistas/3">Arctic Monkeys</a></li>
            </ul>
        </div>
    </section>
    <%- include('includes/foot.ejs') %>
    </body>
</html>

