        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Laboratorio 13</strong> por Daniel Contreras Chávez.
                </p>
            </div>
            <div class="content has-text-centered">
                <p>
                    <strong>¿Qué beneficios encuentras en el estilo MVC?</strong>
                </p>
                <p class="mr-6 ml-6">
                    El código se divide en partes mucho más legibles, además, es más fácil reutilizar código
                    y el mantenimiento de este se vuelve muchp más sencillo, lo que también abre paso a una 
                    mejor escalabilidad.
                </p>
                <p>
                    <strong>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</strong>
                </p>
                <p class="mr-6 ml-6">
                    La separación de las responsabilidades puede aumentar la complejidad del diseño. Puede que
                    esta arquitectura no sea la ideal para aplicaciones en tiempo real que requieran actualización
                    constante de la interfaz de usuario.
                </p>
            </div>
        </footer>
    </body>
</html>