<%- include('includes/head.ejs') %>
<section class="section">
    <div class="container">
        <h2 class="title">Arma tu top, será guardado en un txt</h2>
        <form action="/armar" method="POST">
            <div class="field">
                <label class="label">Nombre del artista / Banda</label>
                    <div class="control">
                        <input class="input" type="text" name="nombre">
                    </div>
            </div>
            <div class="field">
                <label class="label">Imagen</label>
                    <div class="control">
                        <input class="input" type="text" name="imagen">
                    </div>
            </div>
            <div class="field">
                <label class="label">Descripción</label>
                    <div class="control">
                        <textarea class="textarea" name="descripcion"></textarea>
                    </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Armar</button>
                </div>
            </div>
        </form>
    </div>
</section>
<%- include('includes/foot.ejs') %>
