<%- include('includes/head.ejs') %>
<div class="container">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://ishopmx.vtexassets.com/arquivos/ids/282965-800-auto?v=638291915237730000&width=800&height=auto&aspect=true" 
                    alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Joji</p>
                    </div>
                </div>

                <div class="content">
                    George Kusunoki Miller (Osaka, 18 de septiembre de 1992, conocido por su nombre artístico Joji y 
                    anteriormente como Filthy Frank (o Pink Guy) es un cantautor, músico, productor, actor, 
                    expersonalidad de Internet y YouTuber nipo-australiano.
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>