<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Laboratorio 10</strong> por Daniel Contreras Chávez.
        </p>
    </div>
</footer>
</body>
</html>