<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Laboratorio 11</strong> por Daniel Contreras Chávez.
        </p>
    </div>

    <div class="content has-text-centered">
        <p>
            <strong>Describe el archivo package.json.</strong>
        </p>
        <p>
            El archivo package.json es un archivo de metadatos de un proyecto Node.js 
            que se utiliza para describir el proyecto, incluir sus dependencias, 
            scripts de ejecución, configuraciones y otra información relevante. 
        </p>
    </div>
</footer>
</body>
</html>